.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #f5f5f5;
  line-height: 1.2;
  font-family: "Jost", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

.s-header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 48;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 15px;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
      filter: brightness(0) invert(1);
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
    img,
    svg {
      max-width: 45px;
      max-height: 75px;
      margin-right: 28px;
    }
    &-title {
      display: inline-block;
      margin: 0;
      color: #009b7a;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__br {
    display: inline-block;
    position: relative;
    width: 1px;
    height: 75px;
    background-color: #ffffff;
    opacity: 0.7;
  }
  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 16px;
  }
  &__info {
    display: inline-block;
    margin: 0 17px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    a {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009b7a;
        text-decoration: none;
      }
    }
  }
  &__center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-left: 25px;
  }
  &__phone {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 12px 0 0 0;
    color: #009b7a;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      position: relative;
      & > a {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 7px 33px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #009b7a;
          text-decoration: none;
        }
      }
      &:hover {
        & > a {
          color: #009b7a;
        }
        & > ul {
          display: block;
        }
      }
    }
  }
  &__subdropper {
    position: relative;
    &:hover {
      background: url("../images/icon_drop.png") no-repeat right 17px center;
      & > a {
        color: #0070a8;
      }
      & > ul {
        display: block;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 13px;
    width: 260px;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    border: 1px solid #0070a8;
    background-color: #ffffff;
    & > li {
      display: block;
      position: relative;
      & > a {
        display: block;
        position: relative;
        padding: 12px 20px;
        color: #1a1a1a;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0070a8;
          text-decoration: none;
        }
      }
    }
  }
  &__subdrop {
    display: none;
    position: absolute;
    top: -16px;
    left: 100%;
    width: 245px;
    margin: 0;
    padding: 22px 0;
    list-style: none;
    border: 1px solid #0070a8;
    background-color: #ffffff;
    & > li {
      display: block;
      position: relative;
      & > a {
        display: block;
        position: relative;
        padding: 8px 26px;
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0070a8;
          text-decoration: none;
        }
      }
    }
  }
}

.s-top {
  display: block;
  position: relative;
  &__bottom {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: calc((100vw - 1200px + 15px) / 2);
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 6;
  }
  &-card {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 120px 0;
    }
    &__subtitle {
      display: block;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__title {
      display: block;
      max-height: 168px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-size: 70px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      max-width: 400px;
      max-height: 38px;
      overflow: hidden;
      margin: 20px 0 70px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    &__button {
      display: inline-flex;
      align-items: center;
      padding: 20px 34px;
      background-color: #009b7a;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      img,
      svg {
        display: inline-block;
        max-width: 25px;
        max-height: 20px;
        margin-left: 28px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: translateX(10px);
        }
        background-color: #00b48d;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__numbers {
    display: inline-flex;
    align-items: flex-end;
    position: relative;
    min-width: 85px;
  }
  &__current {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__total {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__line {
    display: inline-block;
    position: relative;
    width: 1px;
    height: 22px;
    margin: 0 10px;
    top: -6px;
    background-color: #ffffff;
    opacity: 0.7;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: 0;
    outline: none;
    background: transparent;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-prev {
    width: 11px;
    height: 21px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    width: 11px;
    height: 21px;
    margin-left: 33px;
    background: url("../images/swiper_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 45px;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 15px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
}

.s-home-wrap {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5 url("../images/home_bg_svg.png") no-repeat top center;
}

.s-home-what {
  display: block;
  position: relative;
  padding: 80px 0 100px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 40px 0;
    color: #1a1a1a;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: -8px;
      right: 50%;
      width: 100vw;
      height: 1px;
      background-color: #0070a8;
      transition: all 0.2s ease-out;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__link {
    display: inline-block;
    position: relative;
    margin: 36px 0 0 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: -4px;
      left: 0;
      width: 96px;
      height: 1px;
      background-color: #009b7a;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        width: 100%;
      }
      color: #1a1a1a;
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 670px;
    height: 520px;
    background-position: center center;
    background-size: cover;
    transform-style: preserve-3d;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 40px;
      right: -45px;
      width: 94px;
      height: 68px;
      background: url("../images/home_what_after.png");
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 20px;
      left: 20px;
      width: 100%;
      height: 100%;
      background-color: #d2d2d2;
      transform: translateZ(-1px);
    }
  }
  &_page {
    .s-home-what__title {
      color: #1a1a1a;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .s-home-what__image {
      &:before {
        top: auto;
        bottom: 85px;
      }
    }
  }
}

.s-home-features {
  display: block;
  position: relative;
  &-info {
    display: block;
    margin: 30px 0;
    &_margin {
      margin-bottom: 100px;
    }
    &__number {
      display: block;
      margin: 0;
      color: #009b7a;
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
    }
    &__br {
      display: block;
      margin: 10px 0 16px 0;
      width: 91px;
      height: 1px;
      background-color: #0070a8;
    }
    &__text {
      display: block;
      margin: 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 0 0 70px 0;
    transform-style: preserve-3d;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 137px;
      height: 137px;
      top: 20px;
      left: -30px;
      border-radius: 999rem;
      background-color: #ffffff;
      transform: translateZ(-1px);
    }
    &__image {
      display: flex;
      align-items: center;
      width: 100px;
      height: 80px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 10px 0 0 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.s-home-products {
  display: block;
  position: relative;
  padding: 70px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0 50px 0;
  }
  &__title {
    display: inline-block;
    position: relative;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: -8px;
      right: 50%;
      width: 100vw;
      height: 1px;
      background-color: #0070a8;
      transition: all 0.2s ease-out;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    padding: 20px 26px 20px 36px;
    background-color: #009b7a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    img,
    svg {
      display: inline-block;
      max-width: 25px;
      max-height: 20px;
      margin-left: 28px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: translateX(10px);
      }
      background-color: #00b48d;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 30px;
      left: -60px;
      width: 42px;
      height: 146px;
      background: url("../images/home_products_before.png") no-repeat center center;
      background-size: contain;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 30px;
      right: -60px;
      width: 42px;
      height: 146px;
      background: url("../images/home_products_after.png") no-repeat center center;
      background-size: contain;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 388px;
    min-height: 550px;
    margin: 0 auto;
    padding: 20px 50px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-home-products-card__nav {
        max-height: 100% !important;
        margin: 38px 0 !important;
      }
      text-decoration: none;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 35px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__nav {
      display: block;
      max-height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      transition: all 0.4s ease-out;
      li {
        display: block;
        a {
          display: block;
          margin: 0 0 18px 0;
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          text-decoration: underline;
          transition: all 0.2s ease-out;
          &:hover {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.s-home-services {
  display: block;
  position: relative;
  padding: 70px 0 120px 0;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: 150px;
      left: -60px;
      width: 42px;
      height: 172px;
      background: url("../images/home_services_before.png") no-repeat center center;
      background-size: contain;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 200px;
      right: -60px;
      width: 42px;
      height: 172px;
      background: url("../images/home_services_before.png") no-repeat center center;
      background-size: contain;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    flex: 1 1 390px;
    margin: -1px 0 0 -1px;
    border: 1px solid #eeeeee;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 250px;
      padding: 30px;
      background: #ffffff;
      transition: all 0.2s ease-out;
    }
    &__image {
      display: block;
      max-width: 100px;
      max-height: 100px;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-home-services-card__content {
        background: transparent;
      }
      .s-home-services-card__image {
        filter: brightness(0) invert(1);
      }
      .s-home-services-card__title {
        color: #ffffff;
      }
      text-decoration: none;
    }
  }
  &_page {
    padding: 0;
    .s-home-products__header {
      padding-bottom: 40px;
    }
    .s-home-services__cards {
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 140px;
        left: -60px;
        width: 42px;
        height: 146px;
        background: url("../images/home_products_before.png") no-repeat center center;
        background-size: contain;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: auto;
        bottom: 120px;
        right: -60px;
        width: 42px;
        height: 146px;
        background: url("../images/home_products_after.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
}

.s-home-projects {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 70px 0;
  background: #0a7ab2 url("../images/home_projects_bg.png") no-repeat left 50px top 0;
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    margin: 0;
    outline: none;
    background: transparent;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-prev {
    width: 11px;
    height: 21px;
    background: url("../images/swiper_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    width: 11px;
    height: 21px;
    margin-left: 33px;
    background: url("../images/swiper_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 45px;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 15px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
  &__centered {
    display: inline-flex;
    align-items: center;
  }
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0 50px 0;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-bottom: 60px;
    padding: 0 30px 30px 30px;
  }
  &__title {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: -8px;
      right: 50%;
      width: 100vw;
      height: 1px;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    padding: 20px 26px 20px 36px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    img,
    svg {
      display: inline-block;
      max-width: 25px;
      max-height: 20px;
      margin-left: 28px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0);
        transform: translateX(10px);
      }
      background: #ffffff;
      color: #1a1a1a;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-home-projects-card__link:before {
        width: 100% !important;
      }
      text-decoration: none;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      max-width: 400px;
      padding-bottom: 5px;
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 670px;
      height: 390px;
      background-position: center center;
      background-size: cover;
      transform-style: preserve-3d;
      &:before {
        display: block;
        position: absolute;
        content: "";
        bottom: 35px;
        right: -30px;
        width: 94px;
        height: 68px;
        background: url("../images/home_what_after.png");
        filter: brightness(0) invert(1);
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 20px;
        left: 20px;
        width: 100%;
        height: 100%;
        background-color: #27638f;
        transform: translateZ(-1px);
      }
    }
    &__title {
      display: block;
      max-height: 72px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
    }
    &__subtitle {
      display: block;
      margin: 0 0 4px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    &__info {
      display: block;
      margin: 0 0 24px 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
    &__text {
      display: block;
      max-height: 96px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &__link {
      display: inline-block;
      position: relative;
      margin: 40px 0 0 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      &:before {
        display: block;
        position: absolute;
        content: "";
        bottom: -4px;
        left: 0;
        width: 96px;
        height: 1px;
        background: #ffffff;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &_page {
    padding-top: 0;
    background: #0a7ab2;
    .s-home-free {
      border: 0;
    }
  }
}

.s-home-free {
  display: block;
  position: relative;
  width: 100%;
  padding: 56px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  &__title {
    display: block;
    margin: 0 0 32px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    border: 0;
    outline: none;
    margin: 0 0 5px 0;
    padding: 18px 18px 18px 56px;
    background: #ffffff url("../images/icon_input.png") no-repeat left 20px center;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 20px;
    border: 1px solid #ffffff;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #ffffff;
      color: #1a1a1a;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 20px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
  ::placeholder {
    color: #1a1a1a;
  }
}

.s-home-reviews {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 0 140px 0;
  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    margin: 0;
    outline: none;
    background: transparent;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-prev {
    margin-left: -50px;
    background: #0070a8 url("../images/swiper_prev.png") no-repeat center center;
  }
  .swiper-button-next {
    margin-right: -50px;
    background: #0070a8 url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -60px;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 15px !important;
    border: 0;
    outline: none;
    background-color: #000000;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: #0070a8;
    opacity: 1;
  }
  &__link {
    display: inline-block;
    position: relative;
    margin: 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: -4px;
      left: 0;
      width: 96px;
      height: 1px;
      background-color: #009b7a;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        width: 100%;
      }
      color: #1a1a1a;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0 0 0;
    overflow: visible !important;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 160px 55px 160px;
    border: 3px solid #ffffff;
    background-color: #f5f5f5;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 177px;
      height: 177px;
      margin-top: -40px;
      border-radius: 999rem;
      background-color: #ffffff;
      &-image {
        display: block;
        width: 99px;
        height: 99px;
        background-position: center center;
        background-size: cover;
      }
    }
    &__name {
      display: block;
      margin: -20px 0 8px 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 400;
    }
    &__who {
      display: block;
      margin: 0 0 34px 0;
      opacity: 0.5;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
    }
    &__text {
      display: block;
      max-width: 645px;
      height: 96px;
      overflow: hidden;
      margin: 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      font-style: italic;
    }
  }
}

.s-partners {
  display: block;
  position: relative;
  background: #ffffff;
  padding: 85px 0 140px 0;
  &__centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 60px 0;
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 230px;
    height: 120px;
    margin: 0 auto 40px auto;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    padding: 20px 22px;
    background-color: #009b7a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    img,
    svg {
      display: inline-block;
      max-width: 25px;
      max-height: 20px;
      margin-right: 24px;
      transition: all 0.4s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: rotate(-360deg);
      }
      background-color: #00b48d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-consult {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 60px 0;
  &:after {
    display: block;
    position: absolute;
    content: "";
    top: -35px;
    left: calc((100vw - 1200px + 15px) / 2);
    width: 94px;
    height: 68px;
    background: url("../images/consult_before.png") no-repeat center center;
    background-size: contain;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 78px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: -30px;
      right: 50%;
      width: 100vw;
      height: 1px;
      background-color: #0070a8;
      transition: all 0.2s ease-out;
    }
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    border: 1px solid #7a7a7a;
    outline: none;
    margin: 0 0 30px 0;
    padding: 18px 18px 18px 56px;
    background: #ffffff url("../images/icon_input.png") no-repeat left 20px center;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 0 30px 0;
    padding: 20px;
    border: 0;
    outline: none;
    background-color: #009b7a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #00b48d;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    max-width: 400px;
    margin: 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  ::placeholder {
    color: #1a1a1a;
  }
  &__image {
    display: block;
    position: absolute;
    left: 0;
    top: -140px;
    width: calc(670px + ((100vw - 1200px + 15px) / 2) + 10px);
    height: 645px;
    border-top: 20px solid #f5f5f5;
    border-left: 20px solid #f5f5f5;
    background-position: center center;
    background-size: cover;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 580px;
      bottom: -30px;
      width: 94px;
      height: 42px;
      background: url("../images/consult_after.png") no-repeat center center;
      background-size: contain;
    }
  }
  &_page {
    margin-top: 110px;
    background: #ffffff;
    .s-consult__image {
      border-color: #ffffff;
      &:after {
        display: none;
      }
    }
  }
}

.s-home-seo {
  display: block;
  position: relative;
  padding: 90px 0;
  transition: all 0.2s ease-out;
  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
  }
  &__content {
    display: block;
    position: relative;
    max-height: 166px;
    overflow: hidden;
    padding-bottom: 40px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.2s ease-out;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 72px;
      height: 1px;
      background-color: #009b7a;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
    &:after {
      display: flex;
      align-items: flex-end;
      position: absolute;
      content: "Читать далее";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-bottom: 4px;
      background-image: linear-gradient(to top, #f5f5f5 40%, rgba(245, 245, 245, 0) 100%);
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      z-index: 1;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      line-height: 1.5;
    }
  }
  &_active {
    .s-home-seo__content {
      max-height: 100% !important;
      &:after {
        content: "Показать меньше";
        background: transparent !important;
      }
    }
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    .s-home-seo__content {
      &:before {
        width: 90px;
      }
    }
    text-decoration: none;
  }
}

.s-footer {
  display: block;
  position: relative;
  padding: 35px 0 60px 0;
  border-top: 25px solid #009b7a;
  background-color: #1c1c1c;
  &__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 16px 0;
    border-bottom: 1px solid #494949;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 12px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #009b7a;
          text-decoration: none;
        }
      }
    }
  }
  &__phone {
    display: block;
    margin: 14px 0 0 0;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__link {
    display: inline-block;
    margin: 25px 0 38px 0;
    color: #009b7a;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      position: relative;
      padding: 0 40px 0 0;
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        right: 20px;
        top: 3px;
        width: 1px;
        height: 20px;
        background-color: #494949;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009b7a;
        text-decoration: none;
      }
    }
  }
  &__policy {
    display: block;
    margin: 45px 0 0 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__creators {
    display: block;
    margin: 45px 0 0 0;
    padding-left: 50px;
    background: url("../images/icon_creators.png") no-repeat left center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 20px 0 35px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 15px 0;
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #009b7a;
          text-decoration: none;
        }
      }
    }
  }
}

.s-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 515px;
    margin: 20px 0;
    padding: 60px 55px 55px 55px;
    border: 1px solid #009b7a;
    background-color: #eeeeee;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  input {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #7a7a7a;
    outline: none;
    margin: 0 0 30px 0;
    padding: 18px 18px 18px 56px;
    background: #ffffff url("../images/icon_input.png") no-repeat left 20px center;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 20px;
    border: 0;
    outline: none;
    background-color: #009b7a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #00b48d;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    max-width: 400px;
    margin: 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  ::placeholder {
    color: #1a1a1a;
  }
}

.s-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 18px 0 30px 0;
  list-style: none;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 300;
  li {
    display: inline-block;
    span {
      display: inline-block;
      margin: 0 5px;
    }
    a {
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009b7a;
        text-decoration: none;
      }
    }
  }
}

.s-item {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 100px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 50px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: -8px;
      right: 70%;
      width: 100vw;
      height: 1px;
      background-color: #0070a8;
      transition: all 0.2s ease-out;
    }
  }
  &__text {
    display: block;
    margin: 0 0 80px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__price {
    display: block;
    margin: 0 0 40px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 400;
    b,
    strong,
    span {
      color: #0070a8;
      font-weight: 400;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 20px 66px;
    border: 0;
    outline: none;
    background-color: #009b7a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #00b48d;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    position: absolute;
    left: 0;
    top: -65px;
    width: calc(670px + ((100vw - 1200px + 15px) / 2) + 10px);
    height: 645px;
    border-top: 20px solid #ffffff;
    border-left: 20px solid #ffffff;
    background-position: center center;
    background-size: cover;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 580px;
      bottom: -30px;
      width: 94px;
      height: 42px;
      background: url("../images/consult_after.png") no-repeat center center;
      background-size: contain;
    }
  }
}

.s-tabs {
  display: block;
  position: relative;
  padding: 40px 0 70px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 35px 12px 35px;
      padding: 4px 0;
      border-bottom: 3px solid transparent;
      color: rgba(26, 26, 26, 0.7);
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      &.current {
        border-color: #009b7a;
        color: #1a1a1a;
        opacity: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 60px 70px;
    border: 3px solid #ffffff;
    background-color: #f5f5f5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &.current {
      display: block;
    }
  }
}

.s-stocks {
  display: block;
  position: relative;
  padding: 0 0 50px 0;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0 20px 0;
    border: 1px solid #eeeeee;
    border-left: 3px solid #0070a8;
    background-color: #ffffff;
    &__content {
      display: block;
      position: relative;
      min-height: 350px;
      padding: 45px 20px 20px 50px;
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      min-height: 350px;
      margin-top: -20px;
      margin-left: -20px;
      padding: 60px 0;
      background-position: center center;
      background-size: cover;
    }
    &__date {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      padding: 10px 22px 12px 22px;
      background-color: #0070a8;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      b,
      strong {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
      }
    }
    &__title {
      display: block;
      max-width: 310px;
      max-height: 56px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #1a1a1a;
      font-size: 24px;
      font-weight: 400;
    }
    &__text {
      display: block;
      max-height: 96px;
      overflow: hidden;
      margin: 0 0 35px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &__button {
      display: inline-flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #009b7a;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      img,
      svg {
        display: inline-block;
        max-width: 23px;
        max-height: 20px;
        margin-left: 14px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: translateX(10px);
        }
        background-color: #00b48d;
        color: #ffffff;
        text-decoration: none;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-stocks-card__button {
        img,
        svg {
          transform: translateX(10px);
        }
      }
      text-decoration: none;
    }
    &_reversed {
      border-left: 1px solid #eeeeee;
      border-right: 3px solid #0070a8;
      .s-stocks-card__image {
        margin-left: 20px;
      }
    }
  }
}

.s-article {
  display: block;
  position: relative;
  width: 100%;
  padding: 155px 0 145px 0;
  background-position: center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    max-width: 550px;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__price {
    display: block;
    margin: 0 0 65px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    padding: 22px 24px;
    background-color: #009b7a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    img,
    svg {
      display: inline-block;
      max-width: 25px;
      max-height: 20px;
      margin-left: 28px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: translateX(10px);
      }
      background-color: #00b48d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-article-main {
  display: block;
  position: relative;
  padding: 70px 0 20px 0;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    img {
      max-width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #1a1a1a;
      font-weight: 400;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    a {
      color: #009b7a;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009b7a;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      position: relative;
      margin: 0 0 30px 0;
      padding: 0 0 0 20px;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin-bottom: 14px;
        padding-left: 20px;
        background: url("../images/icon_ul.png") no-repeat left top 9px;
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    figure {
      display: block;
      margin: 0 0 30px 0;
    }
    figcaption {
      margin: 0;
      padding: 18px 0 0 0;
      opacity: 0.5;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    blockquote {
      display: block;
      margin: 0 0 30px 0;
      padding: 40px 50px;
      border-left: 8px solid #0070a8;
      background-color: #ffffff;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      line-height: 1.5;
    }
  }
  .table {
    margin: 0 0 30px 0;
  }
  .table td,
  .table th {
    padding: 17px 2px;
    border: 0;
    border-bottom: 1px solid #acacac;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  .table thead th {
    padding: 16px 2px;
    border-bottom: 3px solid #0070a8;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 400;
  }
}

.s-another {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto 30px auto;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
  }
  &-card {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    max-width: 300px;
    min-height: 220px;
    margin: 0 0 2px 0;
    padding: 15px 100px 15px 20px;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.s-aside {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto 45px auto;
  padding: 35px 0 20px 0;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 40px 20px 40px;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
  }
  &__image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex: 0 0 30px;
    height: 30px;
    margin-right: 20px;
    img,
    svg {
      display: block;
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 15px 40px 15px 40px;
        border-left: 9px solid transparent;
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #009b7a;
          background: #ededed;
          color: #1a1a1a;
          text-decoration: none;
        }
      }
    }
  }
}

.s-gallery {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 10px 0;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 388px;
    margin: 0 2px 2px 0;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 250px;
      padding: 20px;
      opacity: 0;
      background-color: rgba(0, 155, 122, 0.7);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-gallery-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.s-about {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    min-height: 100vh;
    padding: 140px 0;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.s-about-main {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/about_bg_svg.png") no-repeat left top;
  background-size: cover;
  z-index: 2;
  &:after {
    display: block;
    position: absolute;
    content: "";
    top: -30px;
    right: calc((100vw - 1200px) / 2 - 70px);
    width: 42px;
    height: 146px;
    background: url("../images/home_products_after.png") no-repeat center center;
    background-size: contain;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 450px;
    margin-top: -100px;
    background-position: center center;
    background-size: cover;
    transform-style: preserve-3d;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 170px;
      left: -30px;
      width: 94px;
      height: 68px;
      background: url("../images/home_what_after.png");
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -20px;
      left: 20px;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      transform: translateZ(-1px);
    }
  }
  &__title {
    display: block;
    margin: 70px 0 20px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__cards {
    display: block;
    position: relative;
    padding: 40px 0;
  }
  &-card {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    &__number {
      display: block;
      margin: 0 0 35px 0;
      color: #009b7a;
      font-size: 80px;
      font-weight: 500;
    }
    &__text {
      display: block;
      margin: 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
    }
  }
}

.s-papers {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 30px 0 70px 0;
  .swiper-button-next,
  .swiper-button-prev {
    bottom: auto;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-top: -60px;
    outline: none;
    background: transparent;
    &:before,
    &:after {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-prev {
    left: 0;
    margin-left: 0;
    background: #0070a8 url("../images/swiper_prev.png") no-repeat center center;
  }
  .swiper-button-next {
    right: 0;
    margin-right: 0;
    background: #0070a8 url("../images/swiper_next.png") no-repeat center center;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 15px !important;
    border: 0;
    outline: none;
    background-color: #000000;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: #0070a8;
    opacity: 1;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 0 30px 70px 30px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    transform-style: preserve-3d;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      background-color: #d2d2d2;
      transform: translateZ(-1px);
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 380px;
      opacity: 0;
      background-color: rgba(0, 155, 122, 0.7);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .s-papers-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.s-contacts {
  display: block;
  position: relative;
  padding: 45px 0 20px 0;
  background: #ffffff;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 45px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: -8px;
      right: 50%;
      width: 100vw;
      height: 1px;
      background-color: #0070a8;
      transition: all 0.2s ease-out;
    }
  }
  &__text {
    display: block;
    margin: 0 0 14px 0;
    color: #009b7a;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__br {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin: 0 0 15px 0;
    background-color: #dedede;
  }
  &__subtitle {
    display: block;
    margin: 0 0 18px 0;
    opacity: 0.7;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
  }
  &__phone {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    color: #1a1a1a;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #009b7a;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0 0 10px 0;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 400;
    a {
      color: #1a1a1a;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #009b7a;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    margin: 20px 0 0 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: -4px;
      left: 0;
      width: 48px;
      height: 1px;
      background-color: #009b7a;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        width: 100%;
      }
      color: #1a1a1a;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: calc(100% + ((100vw - 1200px) / 2) + 5px);
  height: 645px;
  margin-top: -65px;
  border-top: 20px solid #ffffff;
  border-left: 20px solid #ffffff;
  transform-style: preserve-3d;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 50px;
    left: -70px;
    width: 94px;
    height: 68px;
    background: url("../images/home_what_after.png");
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .s-header {
    &_page {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
      background: #f5f5f5;
      .s-header__nav {
        & > li {
          & > a {
            color: #1a1a1a;
            &:hover {
              color: #009b7a;
            }
          }
        }
      }
      .s-header__info {
        color: rgba(0, 0, 0, 0.5);
      }
      .s-header__info a {
        color: rgba(0, 0, 0, 0.5);
        &:hover {
          color: #009b7a;
        }
      }
      .s-header__logo-text {
        opacity: 1;
        color: #1a1a1a;
      }
      .s-header__phone {
        color: #1a1a1a;
        &:hover {
          color: #009b7a;
        }
      }
      .s-header__br {
        background-color: #1a1a1a;
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 1199px) {
  .s-consult__image {
    display: none;
  }
  .s-header__nav > li:hover > ul {
    display: none;
  }
  .s-header__br {
    display: none;
  }
  .s-header {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.9);
  }
  .s-header__toggle {
    display: block;
  }
  .s-header__info {
    display: block;
    width: 100%;
    margin: 6px 0;
    text-align: center;
  }
  .s-header__nav {
    text-align: center;
  }
  .s-header__nav > li {
    display: block;
    width: 100%;
    & > a {
      display: block;
      width: 100%;
    }
  }
  .s-header__right {
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 12px 0;
  }
  .s-modal__content {
    padding: 40px 20px 20px 20px;
  }
  .s-header__center {
    display: none;
  }
  .s-header__right {
    display: none;
    text-align: center;
  }
  .s-header__nav {
    width: 100%;
  }
  .s-top-card__content {
    padding: 100px 0;
  }
  .s-top-card__title {
    max-height: 86px;
    font-size: 36px;
  }
  .s-top__bottom {
    width: 100%;
    left: 0;
    padding: 10px 20px;
  }
  .s-home-what {
    padding: 40px 0;
  }
  .s-home-what__title {
    font-size: 32px;
  }
  .s-home-what__image {
    height: 250px;
    margin: 20px 0;
  }
  .s-home-what__image:before {
    right: -15px;
  }
  .s-home-features-info_margin {
    margin: 0 0 30px 0;
  }
  .s-home-features-info {
    margin: 0 0 30px 0;
  }
  .s-home-features-card {
    margin-bottom: 40px;
    margin-left: 30px;
  }
  .s-home-products {
    padding: 40px 0;
  }
  .s-home-products__title {
    margin: 24px 0;
    font-size: 32px;
  }
  .s-home-products__button {
    font-size: 15px;
  }
  .s-home-products__header {
    padding-bottom: 20px;
  }
  .s-home-products-card__title {
    margin-bottom: 20px;
  }
  .s-home-products-card__nav {
    max-height: 100%;
  }
  .s-home-products-card {
    min-height: 400px;
    margin: 0 auto 5px auto;
  }
  .s-home-services {
    padding: 40px 0;
  }
  .s-home-services-card__content {
    min-height: 200px;
  }
  .s-home-projects {
    padding: 40px 0;
    background: #0a7ab2;
  }
  .s-home-projects__centered {
    margin: 20px 0;
  }
  .s-home-projects__title {
    font-size: 32px;
  }
  .s-home-projects .swiper-pagination {
    margin: 0 20px 0 0;
  }
  .s-home-projects__cards {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
  }
  .s-home-projects-card__image:before {
    display: none;
    right: -15px;
  }
  .s-home-projects-card__image:after {
    display: none;
    top: 15px;
    left: 15px;
  }
  .s-home-projects-card__image {
    height: 250px;
  }
  .s-home-projects-card__link {
    margin: 10px 0 5px 0;
  }
  .s-home-free {
    padding: 10px 0 0 0;
  }
  .s-home-free__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .s-home-reviews {
    padding: 40px 0;
  }
  .s-home-products__title {
    margin: 0 0 20px 0;
  }
  .s-home-reviews .swiper-button-prev {
    left: 0;
    margin-left: -15px;
  }
  .s-home-reviews .swiper-button-next {
    right: 0;
    margin-right: -15px;
  }
  .s-home-reviews-card {
    padding: 0 20px 20px 20px;
  }
  .s-partners {
    padding: 40px 0;
  }
  .s-partners__cards {
    padding: 0;
  }
  .s-partners-card {
    max-width: 160px;
    margin-bottom: 10px;
  }
  .s-consult {
    padding: 40px 0;
  }
  .s-consult__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .s-consult__title:before {
    bottom: -7px;
  }
  .s-consult input {
    margin-bottom: 5px;
  }
  .s-consult__button {
    margin-bottom: 5px;
  }
  .s-home-seo {
    padding: 40px 0;
  }
  .s-footer {
    padding: 30px 0;
  }
  .s-footer__menu {
    justify-content: space-around;
  }
  .s-footer__menu li {
    width: 100%;
    a {
      width: 100%;
      padding: 12px 0;
    }
  }
  .s-footer__policy {
    margin: 40px 0 20px 0;
  }
  .s-footer__creators {
    margin: 20px 0 40px 0;
  }
  .s-footer__subtitle {
    margin: 20px 0;
  }
  .s-home-services_page .s-home-services__cards:before {
    display: none;
  }
  .s-home-services_page .s-home-services__cards:after {
    display: none;
  }
  .s-breadcrumps {
    padding: 15px 0;
  }
  .s-home-what__image:after {
    left: 15px;
    top: 15px;
  }
  .s-header_page {
    position: relative;
  }
  .s-item__image {
    position: relative;
    width: 100%;
    height: 250px;
    border: 0;
    &:after {
      left: auto;
      right: -15px;
    }
  }
  .s-item {
    padding: 40px 0;
  }
  .s-item__title {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .s-item__text {
    margin-bottom: 20px;
  }
  .s-item__price {
    margin-bottom: 20px;
  }
  .s-tabs {
    padding: 20px 0;
  }
  .s-tabs__header {
    justify-content: space-around;
    text-align: center;
  }
  .s-tabs__header li {
    margin: 0 12px;
    padding: 6px 0;
  }
  .s-tabs__content {
    padding: 30px 20px;
  }
  .s-stocks {
    padding: 20px 0;
  }
  .s-stocks-card {
    margin: 0 auto 30px auto;
  }
  .s-stocks-card__content {
    min-height: 250px;
    padding: 30px 20px;
  }
  .s-stocks-card__image {
    min-height: 250px;
    margin: 0 !important;
    padding: 10px 0;
  }
  .s-stocks-card {
    .col-md-6:last-child {
      order: -1;
    }
  }
  .s-stocks-card_reversed {
    .col-md-6:first-child {
      order: -1;
    }
  }
  .s-article__title {
    font-size: 30px;
  }
  .s-article {
    padding: 40px 0;
  }
  .s-article__text {
    margin-bottom: 20px;
  }
  .s-article__price {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .s-article-main {
    padding: 30px 0;
  }
  .s-aside {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0;
  }
  .s-aside__nav li a {
    padding: 12px 20px;
  }
  .s-another {
    width: 100%;
  }
  .s-article-main__content blockquote {
    padding: 30px 20px;
  }
  .s-gallery {
    padding: 10px 0;
  }
  .s-gallery-card__content {
    height: 200px;
  }
  .s-consult {
    margin: 0;
  }
  .s-about-main:after {
    display: none;
  }
  .s-about__title {
    font-size: 36px;
  }
  .s-about-main__image {
    height: 300px;
    margin: 20px 0;
    &:after {
      top: -10px;
      left: 10px;
    }
  }
  .s-about-main__title {
    margin: 20px 0;
  }
  .s-about-main__cards {
    padding: 0;
  }
  /* .s-about-main-card {
    margin-bottom: 50px;
  } */
  .s-about-main-card__number {
    margin: 20px 0 0 0;
    font-size: 42px;
  }
  .s-papers-card {
    margin: 0 auto;
  }
  #map {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    border: 0;
    &:before {
      display: none;
    }
  }
}
